/* line 1, main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, main.scss */
body {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

/* line 13, main.scss */
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/*header*/
/* line 22, main.scss */
header {
  width: 100%;
  background: url("../img/logo.jpg") #281a0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
  
}
/* line 29, main.scss */
header .contenedor {
  position: relative;
  height: 700px;
}
/* line 34, main.scss */
header .menu {
  width: 100%;
  text-align: right;
}
/* line 38, main.scss */
header .menu a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  margin: 40px 20px;
  text-decoration: none;
  position: relative;
}
/* line 47, main.scss */
header .menu a:hover {
  text-decoration: underline;
}
/* line 54, main.scss */
header .textos {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -52px;
}
/* line 61, main.scss */
header .textos .nombre {
  font-size: 50px;
  font-weight: 600;
}
/* line 65, main.scss */
header .textos .nombre span {
  font-weight: 300;
}
/* line 68, main.scss */
header .textos .nombre h3 {
  font-weight: 300;
  font-size: 35px;
  font-style: italic;
}

/*main*/
/* line 80, main.scss */
.main {
  background: url("../img/bg-textura.png");
  background-repeat: repeat;
}
/* line 84, main.scss */
.main .acerca-de .contenedor {
  overflow: visible;
  position: relative;
}
/* line 88, main.scss */
.main .acerca-de .foto {
  width: 80%;
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}
/* line 96, main.scss */
.main .acerca-de .foto img {
  vertical-align: top;
  width: 100%;
}
/* line 102, main.scss */
.main .acerca-de article {
  background: #fff;
  padding: 40px;
  width: 50%;
  position: relative;
  top: 150px;
  z-index: 1;
  float: right;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}
/* line 112, main.scss */
.main .acerca-de article h3 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 40px;
}
/* line 117, main.scss */
.main .acerca-de article p {
  line-height: 28px;
  margin-bottom: 15px;
}
/* line 123, main.scss */
.main .menu {
  padding-top: 570px;
  margin-bottom: 50px;
}
/* line 127, main.scss */
.main .menu .titulo {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}
/* line 133, main.scss */
.main .menu .contenedor-menu, .main .menu .contenedor-menu2 {
  border: 1px solid #000;
  background: transparent;
  padding: 10px;
  overflow: hidden;
}
/* line 140, main.scss */
.main .menu article {
  width: 50%;
  float: left;
  padding: 20px;
}
/* line 145, main.scss */
.main .menu article .categoria {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
/* line 151, main.scss */
.main .menu article .platillo {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 4px dotted #000;
  overflow: hidden;
}
/* line 157, main.scss */
.main .menu article .platillo .nombre {
  font-size: 20px;
  margin-bottom: 15px;
  float: left;
}
/* line 162, main.scss */
.main .menu article .platillo .precio {
  font-size: 20px;
  margin-bottom: 15px;
  float: right;
}
/* line 168, main.scss */
.main .menu article .platillo .descripcion {
  font-size: 16px;
  color: #676767;
  clear: both;
}
/* line 178, main.scss */
.main .galeria {
  overflow: hidden;
}
/* line 181, main.scss */
.main .galeria .foto {
  width: 25%;
  float: left;
}
/* line 184, main.scss */
.main .galeria .foto img {
  width: 100%;
  vertical-align: top;
  opacity: .7;
}
/* line 189, main.scss */
.main .galeria .foto:hover img {
  opacity: 1;
  transition: all .3s ease;
}
/* line 196, main.scss */
.main .ubicacion {
  background: #fff;
  padding: 60px 0;
}
/* line 199, main.scss */
.main .ubicacion .titulo {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 40px;
}
/* line 207, main.scss */
.main .ubicacion .direccion {
  overflow: hidden;
  float: left;
  width: 50%;
  text-align: left;
}
/* line 213, main.scss */
.main .ubicacion .direccion .calle {
  margin-bottom: 15px;
}
/* line 219, main.scss */
.main .ubicacion .horarios {
  float: right;
  width: 50%;
  text-align: right;
  overflow: hidden;
}
/* line 225, main.scss */
.main .ubicacion .horarios h4 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 230, main.scss */
.main .ubicacion .horarios .entre-semana, .main .ubicacion .horarios .fin-semana {
  width: 50%;
  float: left;
  text-align: center;
}
/* line 239, main.scss */
.main .mapa {
  width: 100%;
  overflow: hidden;
}
/* line 243, main.scss */
.main .mapa iframe {
  width: 100%;
  max-height: 600px;
}

/* line 250, main.scss */
footer {
  background: #000;
}
/* line 252, main.scss */
footer .copyright {
  text-align: center;
  padding: 15px 0;
  color: #fff;
}

/*****Media Querys*****/
@media screen and (max-width: 800px) {
  /* line 262, main.scss */
  header .contenedor {
    position: static;
    height: auto;
  }

  /* line 267, main.scss */
  header .textos {
    position: static;
    margin: 100px 0;
  }

  /* line 272, main.scss */
  header .menu {
    text-align: center;
  }

  /* line 276, main.scss */
  header .menu a {
    margin: 10px 20px;
  }

  /* line 280, main.scss */
  header .textos .nombre {
    font-size: 30px;
  }

  /* line 284, main.scss */
  header .textos h3 {
    font-size: 18px;
  }

  /* line 288, main.scss */
  .main .acerca-de .foto {
    width: 100%;
    position: relative;
  }

  /* line 293, main.scss */
  .main .acerca-de article {
    position: relative;
    width: 100%;
    top: -50px;
    transform: translate(0px, 0);
  }

  /* line 300, main.scss */
  .main .menu {
    padding-top: 300px;
  }

  /* line 304, main.scss */
  .main .menu article {
    width: 100%;
  }

  /* line 308, main.scss */
  .main .galeria .foto {
    width: 50%;
  }

  /* line 312, main.scss */
  .main .mapa {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  /* line 319, main.scss */
  .main .acerca-de article h3 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  /* line 324, main.scss */
  .main .menu article .nombre,
  .main .menu article .precio {
    font-size: 16px;
    line-height: 16px;
  }

  /* line 330, main.scss */
  .main .ubicacion .direccion {
    margin-bottom: 15px;
  }

  /* line 334, main.scss */
  .main .ubicacion .direccion,
  .main .ubicacion .horarios {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
